ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0.5em;
}
form {
  width: 350px;
  font-family: Verdana sans-serif;
  font-size: 15px;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 1em;
  margin: auto;
}
input {
  font: 1em sans-serif;
  width: 210px;
  box-sizing: border-box;
  border: 1px solid #777;
}
input:focus {
  border-color: #af1070;
}
 input[type="radio"] {
  width: auto;
}
input[id="submit"] {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
label span {
  width: 100px;
  text-align:left;
  display: inline-block;
  font-weight: bold;
}
p {
  font-weight: bold;
}

textarea {
  vertical-align: top;
  margin-left: 15px;
  width: 200px;
  height: 100px;
}
