body {
  background-image: url(../img/sushi.jpg);
}
p {
  font-size: 2em;
  margin-left: 8em;
}
h1 {
  margin-left: 6em;
}
a {
  text-decoration: none;
  color: white;
}
.button {
  width: 300px;
  font-size: 2em;
  text-align:center;
  border: 1px solid;
  border-radius: 1em;
  color: #b9755c;
  background-color: #d77c55;
  margin-left: 6em;
}
